extends templates/_default.pug

block layout
  header#header
    .profile
      img.profile-image(src="img/profile-img.jpg")
      .profile-name Max Giron
  #wrapper
    section#intro
      span.terminal-text Hello, World!
      h1 I build web applications for brands using modern practices and publish articles on web design / development.
    section#works.clearfix
      .card
        .card-content
          .card-image
          .card-caption
            h2 Qwerty Times
            ul
              li.card-tags HTML
              li.card-tags CSS
              li.card-tags MJML
              li.card-tags Litmus
            p Felipe is the result of a CSS "speed drawing" exercise I did to relieve my nostalgia. I took the project a step further and familiarized myself with Google's YouTube API to give Felipe playlist-making abilities.
      .card
        .card-content
          .card-image
          .card-caption
            h2 Day-of-Air Generator
            ul
              li.card-tags Pug
              li.card-tags SASS
              li.card-tags JS
              li.card-tags Canvas API
            p Felipe is the result of a CSS "speed drawing" exercise I did to relieve my nostalgia. I took the project a step further and familiarized myself with Google's YouTube API to give Felipe playlist-making abilities.
      .card
        .card-content
          .card-image
          .card-caption
            h2 Advertising Workflow
            ul
              li.card-tags JS
              li.card-tags NodeJS
              li.card-tags JSON
              li.card-tags Sailthru API
            p Felipe is the result of a CSS "speed drawing" exercise I did to relieve my nostalgia. I took the project a step further and familiarized myself with Google's YouTube API to give Felipe playlist-making abilities.
      .card
        .card-content
          .card-image
          .card-caption
            h2 University Calendar
            ul
              li.card-tags HTML
              li.card-tags CSS
            p Felipe is the result of a CSS "speed drawing" exercise I did to relieve my nostalgia. I took the project a step further and familiarized myself with Google's YouTube API to give Felipe playlist-making abilities.
      .card
        .card-content
          .card-image
          .card-caption
            h2 Felipe the Cassette
            ul
              li.card-tags Pug
              li.card-tags SASS
              li.card-tags JS
              li.card-tags YouTube API
            p Felipe is the result of a CSS "speed drawing" exercise I did to relieve my nostalgia. I took the project a step further and familiarized myself with Google's YouTube API to give Felipe playlist-making abilities.
      .card
        .card-content
          .card-image
          .card-caption
            h2 The Life of Pablo
            ul
              li.card-tags Pug
              li.card-tags SASS
              li.card-tags JS
              li.card-tags jQuery
            p Felipe is the result of a CSS "speed drawing" exercise I did to relieve my nostalgia. I took the project a step further and familiarized myself with Google's YouTube API to give Felipe playlist-making abilities.
    footer#footer © 2018 Max Giron. Built with NodeJS.
